.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 280px;
  overflow: scroll;

  .messages {
    display: block;
    flex-grow: 1;
    margin: 20px 20px 10px 20px;
  }

  .form {
    display: flex;
    margin: 0px 10px 0px 10px;

    .input {
      height: 50px!important;
      margin-bottom: -7px!important;
      margin-top: 5px!important;
      input {
        position: relative!important;
        bottom: 0px;
        margin-top: 0px!important
      }
      label { display: none; }
    }
    .say {
      display: flex!important;
      box-shadow: none!important;
      align-items: flex-end;
      margin-left: 15px;
    }
  }
}
