@import 'app/styles/theme';

.container {
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;

  .author {
    width: 70px;
    color: #FF9E80;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $accent2Color;
  }

  .content {
    width: 100%;
    margin-left: 10px;
  }
}
