@import 'app/styles/theme';

.game-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  border-bottom: 1px solid #eee;
  &:hover:not(.currentPresent) {
    background-color: $accent2Color;
    cursor: pointer;
  }

  .column {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    font-size: 14px;
    flex-grow: 1;

    &.actions {
      width: 145px;
    }

    &.name {
      width: 145px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.players, &.rounds, &.time {
      width: 65px;
    }
  }
}





