@import 'app/styles/theme';

.container {
  display: flex;
  flex-direction: column;

  .title {
    padding: 16px;
    line-height: 36px;
    font-size: 24px;
  }

  .header {
    display: flex;
    background-color: $primary2Color;
    color: $alternateTextColor;
  }

  .column {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    font-size: 14px;

    &.name {
      flex-grow: 3;
    }

    &.players, &.rounds, &.time {
      flex-grow: 1;
    }
  }
}
