@media (min-width: 0px) and (max-width: 800px) {
  .content {
    width: 100%;
    .button {
      width: 0;
      position: fixed;
      right: 20%;
      bottom: 5%;
    }

    .desktop {display: none;}
    .mobile {
      width: 90%;
      flex-direction: column;
      margin: 0 10px;
      display: flex;
    }
  }
}
@media (min-width: 801px) and (max-width: 9999px) {
  .content {
    .button {
      width: 0;
      height: 0;
      position: relative;
      right: -245px;
      top: -20px;
    }

    .desktop {
      margin: 0 10px;
      display: flex;
      width: 780px;
      flex-direction: row;
    }
    .mobile {display: none;}
  }
}

.content {
  .card {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 550px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    background-color: #fff;

    &:not(:last-child) { margin-right: 30px; }
  }
}
