@import 'app/styles/theme';

.app {
  display: flex;
  flex-direction: column;

  .app-bar {
    height: 200px;
  }

  .content {
    display: flex;
    flex-direction: row;
    z-index: 1200;
    margin-top: -125px;
    justify-content: center;
  }

  .logoName {
    color: $alternateTextColor;
    text-decoration: none;
  }
}
