@import 'app/styles/theme';

.app-bar {
  height: 200px;
}

.content {
  margin-top: -150px;
  z-index: 1200;
  position: relative;
}

.logoName {
  color: $alternateTextColor;
  text-decoration: none;
}
