@import 'app/styles/theme';

@media (min-width: 0px) and (max-width: 800px) {
  .container {
    .username {
      margin-right: 20px;
      font-size: 16px;
      margin-top: 4px;
    }
  }
}

@media (min-width: 801px) and (max-width: 9999px) {
  .container {
    .username {
      margin-right: 60px;
      margin-top: -2px;
      font-size: 19px;
    }
  }
}
.container {
  color: $alternateTextColor;
  margin-top: 12px;
  cursor: pointer!important;

  .username {
    float: right;
    margin-left: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
  }
}

.form {
  max-width: 350px!important;

  .formTitle {
    background-color: $primary1Color;
    color: $alternateTextColor!important;
  }
}
