.games-card {
  min-height: 550px;
  height: initial!important;
  float: left;
  width: 48.5%;
  min-width: 300px;
  margin-right: 3%;
}

.users-online-card {
  min-height: 550px;
  height: initial!important;
  float: left;
  min-width: 300px;
  width: 48.5%;
}

.content {
  margin: 0 auto;
  width: 800px;
  min-width: 400px;
}
