:global {
  .state-update {
    background-color: rgba(66, 177, 202, 0.51)!important;
  }
  .state-nothing {}
  .state-decided {
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #64B5F6;
    color: #fff;
  }

  .state-change-fast {
    -moz-transition: all 0.2s cubic-bezier(0.82,-0.06, 0.32, 1.08);
    -webkit-transition: all 0.2s cubic-bezier(0.82,-0.06, 0.32, 1.08);
    -o-transition: all 0.2s cubic-bezier(0.82,-0.06, 0.32, 1.08);
    transition: all 0.2s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  }
  .state-change-slow {
    -moz-transition: all 1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -webkit-transition: all 1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: all 1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: all 1s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  }

  .appear-target {
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1;
  }

  .appear-enter {
    opacity: 0;
  }
}
