@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

$primary1Color: #2196F3;
$primary2Color: #1976D2;
$primary3Color: #64B5F6;
$accent1Color: #FF3D00;
$accent2Color: #FF9E80;
$accent3Color: #DD2C00;
$alternateTextColor: #FFF;
