$screen-lg-min: 1200px;
$screen-xs-max: 768px;

.create-game-form .create-game-button{
  @media (min-width: $screen-lg-min) { margin-right: 146px; }
  @media (max-width: $screen-xs-max) { margin-right: 0px; }
}

nav.navbar .header-text {
  color: #428bca;
}

#rules-modal .modal-header {
  background-color: #428bca;
  .modal-title {
    color: #fff;
  }
  .close {
    opacity: 1;
    color: #fff;
  }
}

.users-container {
  h4 { margin-bottom: 20px; }
  .users-online {
    .player-name {
      margin: 10px;
      font-style: italic;
      font-size: 13px;
    }
  }
}

.edit-user-form {
  display: none;
}

.game-list-row {
  background-color: #fff;
  a:hover {
    text-decoration: none;
    background-color: inherit;
    color: inherit;
  }
}

.header {
  height: 64px;
  .user-edit {
    float: right;
    .btn { width: 61px; }
    .user-section {
      margin-top: 7px;
      margin-right: 10px;
      .user-name {
        float: left;
        margin-right: 20px;
      }
    }
    .edit-user-form {
      margin-top: 10px;
      .edit-user-form-name {
        float: left;
        width: 60%;
        margin-right: 10px;
      }
    }
  }
}

