.cool-number {
  font-size: 25px;
  color: #428bca;
}

.low-ml {
  margin-left: 20px;
}

.low-mt {
  margin-top: 20px;
}

.animated {
  -moz-transition: all 0.065s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  -webkit-transition: all 0.065s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  -o-transition: all 0.065s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  transition: all 0.065s cubic-bezier(0.82,-0.06, 0.32, 1.08);
}

.animated-state {
  background-color: rgba(66, 139, 202, 0.3);
}

.rTable {
  display: table;
  width: 100%;
}
.rTableRow { display: table-row; }
.rTableHeading {
  display: table-header-group;
  background-color: #428bca;
  color: #fff;
}
.rTableCell, .rTableHead {
  display: table-cell;
  padding: 3px 10px;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}
