.cool-number {
  font-size: 25px;
  color: #428bca;
}

.low-ml {
  margin-left: 20px;
}

.low-mt {
  margin-top: 20px;
}

.error {
  color: #a94442;
}

.animated-state-update {
  -moz-transition: all 0.165s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  -webkit-transition: all 0.165s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  -o-transition: all 0.165s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  transition: all 0.165s cubic-bezier(0.82,-0.06, 0.32, 1.08);
  background-color: rgba(66, 177, 202, 0.51)!important;
}
.animated-state-appear {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 1!important;
}

.rTable {
  display: table;
  width: 100%;
}
.rTableRow {
  display: table-row;
  background-color: rgba(66, 139, 202, 0.05);
  border: 1px solid #f9f9f9;
  &:hover {
    background-color: rgba(66, 139, 202, 0.3);
    cursor: pointer;
  }
}
.rTableHeading {
  display: table-header-group;
  background-color: #428bca;
  color: #fff;
}
.rTableCell, .rTableHead {
  display: table-cell;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(66, 139, 202, 0.31);
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}
